@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*::before,
*,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top right, #D946EF, #BE185D, #BE123C, #D946EF);
  display: flex;
  align-items: center;
  justify-content: center;
}